#container, #container2 {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 20px;
}

.grid, [class^="grid"] {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#enterCoordinates {
    position: absolute;
    z-index: 1;
    background-color: gray;
}

.invisible {
    display: none;
}

.visible {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: gray;
}

button {
    background-color: rgb(184, 179, 179)
}

/*#carrierCoordinates, #battleshipCoordinates, #cruiserCoordinates, 
#submarineCoordinates, #destroyerCoordinates{
    
}*/